/* UserProfile.css */

.userProfile {
   max-width: 400px ;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.userProfile h1 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.userProfile h1 {
    color: #007bff; 
}

.userProfile p {
    font-size: 1em;
    color: #666;
    margin: 8px 0;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    color: #888;
}
